# **Problem**

## **Dataset**

The dataset choosen for this experiment is Gender classification dataset. The dataset contains 66 samples and 5 columns. The dataset contains following columns:

  * Favorite Color
    - 0: Neutral
    - 1: Warm
    - 2: Cool
  * Favorite Music Genre
    - 0: Rock
    - 1: Hip hop
    - 2: Folk/Traditional
    - 3: Jazz/Blues
    - 4: Pop
    - 5: Electronic
    - 6: R&B and soul
  * Favorite Beverage
    - -1: Doesn't drink
    - 0: Vodka
    - 1: Wine
    - 2: Whiskey 
    - 3: Beer
    - 4: Other
  * Favorite Soft Drink
    - 0: 7UP/Sprite
    - 1: Coca Cola/Pepsi
    - 2: Fanta
    - 3: Other
  * Gender
    - 0: F
    - 1: M

## **Exercises**

### **Exercise 1:**
**Importing necessary libraries**

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score, f1_score, classification_report, confusion_matrix, roc_auc_score, roc_curve, precision_score, recall_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn import metrics

### **Exercise 2:** 
**Load the dataset**

In [2]:
link = "/content/Gender.csv"
data_set = pd.read_csv(link)

In [3]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Favorite Color        66 non-null     object
 1   Favorite Music Genre  66 non-null     object
 2   Favorite Beverage     66 non-null     object
 3   Favorite Soft Drink   66 non-null     object
 4   Gender                66 non-null     object
dtypes: object(5)
memory usage: 2.7+ KB

In [4]:
data_set.describe()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
count,66,66,66,66,66
unique,3,7,6,4,2
top,Cool,Rock,Doesn't drink,Coca Cola/Pepsi,F
freq,37,19,14,32,33

In [5]:
data_set['Favorite Color'] = data_set['Favorite Color'].map({'Neutral':0,
'Warm':1,
'Cool':2})

In [6]:
data_set['Favorite Music Genre'] = data_set['Favorite Music Genre'].map({
'Rock':0,
'Hip hop':1,
'Folk/Traditional':2,
'Jazz/Blues':3,
'Pop':4,
'Electronic':5,
'R&B and soul':6
})

In [7]:
data_set['Favorite Beverage'] = data_set['Favorite Beverage'].map({
    "Doesn't drink":-1,
'Vodka': 0,
'Wine': 1,
'Whiskey': 2,
'Beer': 3,
'Other': 4,
})

In [8]:
data_set['Favorite Soft Drink'] = data_set['Favorite Soft Drink'].map({
    '7UP/Sprite': 0,
'Coca Cola/Pepsi': 1,
'Fanta': 2,
'Other': 3
})

In [9]:
data_set['Gender'] = data_set['Gender'].map({'F':0,
'M':1})

In [10]:
data_set

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,2,0,0,0,0
1,0,1,0,1,0
2,1,0,1,1,0
3,1,2,2,2,0
4,2,0,0,1,0
...,...,...,...,...,...
61,2,0,0,1,1
62,2,1,3,1,1
63,0,1,-1,2,1
64,2,0,1,1,1
65,2,5,3,1,1

### **Exercise 3:**
**Divide the dataset into train and test sets**

In [24]:
features = data_set.drop(['Gender'], axis=1) 
target = data_set['Gender']
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=42)
X_train.shape, X_test.shape

((52, 4), (14, 4))

### **Exercise 4:**
**Apply both Decision Tree and Random Forest and find the best model**

In [42]:
dt_model = DecisionTreeClassifier(max_depth=5, random_state=42)
dt_model.fit(X_train, y_train)

train_preds = dt_model.predict(X_train)
test_preds = dt_model.predict(X_test)

# print(f"Train Accuracy: {accuracy_score(y_train, train_preds)*100:.2f}%")
print(f"Test Accuracy: {accuracy_score(y_test, test_preds)*100:.2f}%")

Test Accuracy: 71.43%

In [41]:
rf_model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
rf_model.fit(X_train, y_train)

train_preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)

# print(f"Train Accuracy: {accuracy_score(y_train, train_preds)*100:.2f}%")
print(f"Test Accuracy: {accuracy_score(y_test, test_preds)*100:.2f}%")

Test Accuracy: 57.14%

### **Exercise 5:**
**Calculate Accuracy, Precision score, Recall Score, Confusion Matrix for the best model**

In [43]:
confusion_matrix(y_test, test_preds)

array([[6, 1],
       [3, 4]])

In [44]:
print(classification_report(y_test, test_preds))

              precision    recall  f1-score   support

           0       0.67      0.86      0.75         7
           1       0.80      0.57      0.67         7

    accuracy                           0.71        14
   macro avg       0.73      0.71      0.71        14
weighted avg       0.73      0.71      0.71        14