## **Dataset**

In this Experiment you will be using movies dataset. The dataset contains 77 rows and 8 columns. The columns are as follows:

* Film
* Genre
     - Romance, Comedy, Drama, Animation, Fantasy, Action
* Lead Studio
* Audience score in percentage
* Profitability
* Rotten Tomatoes in percentage
* Worldwide Gross
* Year

## **Exercises**

In [ ]:
import pandas as pd

In [ ]:
moviesdata = pd.read_csv("/content/movies - movies.csv.csv")

In [ ]:
moviesdata.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [ ]:
moviesdata.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

### Exercises 1: How many movies are listed in the moviesdata dataframe?

In [ ]:
total = moviesdata['Film'].nunique()

totals = moviesdata['Film'].shape
print(totals)
print("Movies Listed: ",total)

(77,)
Movies Listed:  75

### Exercises 2: How many movies were made in the year 2009?

In [ ]:
group = moviesdata.groupby('Year').get_group(2009).shape
grp = moviesdata['Year'].value_counts()
print("Movie Made in Year 2009: ",group)
print(grp)

Movie Made in Year 2009:  (12, 8)
2008    20
2010    20
2011    14
2009    12
2007    11
Name: Year, dtype: int64

### Exercises 3: Which year saw the most films released?

In [ ]:

max = moviesdata['Year'].value_counts().max()
print(max)

20

### Exercises 4: How many movies were made from 2010 through 2011?

In [ ]:
movi = moviesdata['Year'].value_counts()
prt = movi[2010] + movi[2011]
print(prt)

34

### Exercises 5: In Genre column, sometimes Comedy is spelled as Comdy, comedy and Romance is spelled as romance, Romence. Replace all the misspelt words with correct words

In [ ]:
moviesdata['Genre'].replace(['Comdy','comedy'],'Comedy',inplace=True)

moviesdata['Genre'].replace({'romance':'Romance','romence': 'Romance'},inplace=True)

In [ ]:
moviesdata['Genre'] == 'Romance'

0      True
1     False
2     False
3     False
4     False
      ...
72     True
73    False
74    False
75    False
76    False
Name: Genre, Length: 77, dtype: bool

### Exercises 6: How many Comedy Genre movies has release in 2009?

In [ ]:
movie_year = moviesdata[(moviesdata['Genre'] == 'Comedy') & (moviesdata['Year'] == 2009)]
num = movie_year['Film'].nunique()
print(num)

7

### Exercises 7: Which year as the most number of Romance Genre Movies releases?

In [ ]:
mk = moviesdata[moviesdata['Genre'] == "Romance"]
mk1 = mk['Year'].value_counts().to_frame().reset_index()
mk2 = mk1['index'].max()
print(mk1)
print("Year Most Romance Movie: ",mk2)

   index  Year
0   2011     7
1   2007     5
2   2008     2
Year Most Romance Movie:  2011

### Exercises 8: How many films are made by Sony Lead Studio?

In [ ]:
sony = moviesdata[moviesdata['Lead Studio'] == 'Sony']
print(sony)

In [ ]:
moviesdata[moviesdata['Lead Studio'] == 'Sony']

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
37,Nick and Norah's Infinite Playlist,Comedy,Sony,67,3.352729,73,$33.53,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
47,Made of Honor,Comedy,Sony,61,2.649068,13,$105.96,2008
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010

### Exercises 9: How many films are having Audience score less than 50 %?

In [ ]:
aud = moviesdata[moviesdata['Audience score %'] < 50]
aud['Film'].nunique()

16

### Exercises 10: Display all the movies done by Universal Lead Studio?

In [ ]:
moviesdata[moviesdata['Lead Studio'] == 'Universal']

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
53,Leap Year,Comedy,Universal,49,1.715263,21,$32.59,2010
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011
58,It's Complicated,Comedy,Universal,63,2.642353,56,$224.60,2009
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009